.outer-box{
    width: 1ooopx;
    text-align: center;
    placeholder: 20px;
}
.outer-box1{
margin-left: 300px;
    text-align: center;
    display: flex;

}
.box{
    text-align: center;
    display: flex;
    margin-left: 370px;
    font-size: 70px;
    color: white;
}
.box1{
    text-align: center;
    display: flex;
    margin-left: 330px;
    font-size: 30px;
    color: aliceblue;
}
.box2{
    text-align: center
    display: flex;
    margin-left: 450px;
    padding: 15px;
    background-color: blue;
    border-radius: 10px;
    color: white;
}
.box3{
    text-align: center
    display: flex;
  
    padding: 15px;
    background-color: red;
    border-radius: 10px;
    color: white;
}
.vs-logo{
    height: 100px;
    width: 100px;
}
.link{
    text-align: center;
    display: flex;
    margin-left: 500px;
    font-size: 15px;
}
.page-color{
    background-color:black;
    color: black;
    font-family: Arial, sans-serif;
    transition: background-color 0.03s,color0.03s;
}
.head{
    display: flex;
    color:white;
}
.image1{
    text-align: center;
}